#container{
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  height: 3.5rem;
  color: #1C304A;
  font-weight: bold;

  .logo {
    font-size: 2rem;
    margin-right: auto;
    margin-left: 1.5rem;
  }

  .rightDiv {
    margin-left: auto;
    
    .btn {
      margin: 1rem;
    }
  }
}

// #main {
  // margin-top: 3.5rem;
// }