#home {
  height: 100%;
  .searchBox {

    // background-color: #B2B2B2;
    background-color: #000000;
    padding: 6rem 0 6rem 0;
    text-align: center;
    .mainTitle {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #FFFFFF;
    }

    .searchInput {
      font-size: 17px;
    }
  }

  .recommend-groups {
    height: calc(100% - 20.25rem);
    .title {
      // margin-top: 3rem;
      padding-top: 3rem;
      text-align: center;
      font-weight: bold;
    }
  }
}